body {
    overflow-x: hidden;
    position: relative;
}

h1 {
    font-size: 70px !important;
}

.text {
    margin-left: 100px;
}

.jumbotron {
    color: black;
    height: 100vh;
    margin: 0;
}

/* Navigation */
.navbar-default {
    background: #000;
    width: 80px;
    height: 100vh;
    float: right;
    border: 0px none;
    border-radius: 0px;
    position: fixed;
    box-shadow: 2px solid #000;
}

.navbar-nav {
    font-size: 40px;
    margin-left: 15px;
}

.navbar-nav li {
    width: 80px;
    text-align: center;
}

.navbar-nav a {
    background: #000;
    width: 80px;
    color: white !important;
    transition: .4s background;
    transition: .3s width;
}

.navbar-nav .home-logo a:hover {
    background: #d32b2b !important;
    width: 120px;
}

.navbar-nav .about-logo a:hover {
    background: #ed8115 !important;
    width: 120px;
}

.navbar-nav .porto-logo a:hover {
    background: #edcc15 !important;
    width: 120px;
}

.navbar-nav .game-logo a:hover {
    background: #1ca340 !important;
    width: 120px;
}

.navbar-nav .web-logo a:hover {
    background: #159aed !important;
    width: 120px;
}

/* Header */
.home {
    background: #d32b2b;
}

/* About */
.about {
    background: #ed8115;
}

/* Portofolio */
.porto {
    background: #edcc15;
}

/* Game */
.game {
    background: #1ca340;
}

/* Web */
.web {
    background: #159aed;
}