body {
    margin: 0;
}

.jumbotron {
    background: #1b8403;
    padding: 100px 125px;
}

.jumbotron h1 {
    color: white;
}

#output {
    background: #c7c7c7;
    height: 200px;
    padding: 20px;
}